<div class="page-layout blank p-24" fusePerfectScrollbar>
  <!-- LAYOUT_MOBILE_HORIZONTAL_ADDRESS_MAP_CONTENT -->
  <mat-grid-list *ngIf="layoutType === LAYOUT_MOBILE_HORIZONTAL_ADDRESS_MAP_CONTENT" [cols]="[screenCols]"
    rowHeight="10px" gutterSize="0px">
    <mat-grid-tile [colspan]="[addressCols]" [rowspan]="[addressRows]">
      <app-address class="container"></app-address>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="[contextCols]" [rowspan]="[contextRows]">
      <app-context class="container"></app-context>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="[mapCols]" [rowspan]="[mapRows]">
      <app-location class="container"></app-location>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- LAYOUT_MOBILE_HORIZONTAL_ADDRESS_MAP_CONTENT -->


  <!-- LAYOUT_DESKTOP_ADDRESS_MAP_CONTENT -->
  <mat-grid-list *ngIf="layoutType === LAYOUT_DESKTOP_ADDRESS_MAP_CONTENT" [cols]="[screenCols]" rowHeight="10px"
    gutterSize="0px">
    <mat-grid-tile [colspan]="[addressCols]" [rowspan]="[addressRows]">
      <app-address class="container"></app-address>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="[contextCols]" [rowspan]="[contextRows]">
      <app-context class="container"></app-context>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="[mapCols]" [rowspan]="[mapRows]">
      <app-location class="container"></app-location>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- LAYOUT_DESKTOP_ADDRESS_MAP_CONTENT -->

  <!-- LAYOUT_MOBILE_HORIZONTAL_MAP_CONTENT -->
  <mat-grid-list *ngIf="layoutType === LAYOUT_MOBILE_HORIZONTAL_MAP_CONTENT" [cols]="[screenCols]" rowHeight="10px"
    gutterSize="0px">
    <mat-grid-tile [colspan]="[contextCols]" [rowspan]="[contextRows]">
      <app-context class="container"></app-context>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="[mapCols]" [rowspan]="[mapRows]">
      <app-location class="container"></app-location>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- LAYOUT_MOBILE_HORIZONTAL_MAP_CONTENT -->

  <!-- LAYOUT_DESKTOP_MAP_CONTENT -->
  <mat-grid-list *ngIf="layoutType === LAYOUT_DESKTOP_MAP_CONTENT" [cols]="[screenCols]" rowHeight="10px"
    gutterSize="0px">
    <mat-grid-tile [colspan]="[contextCols]" [rowspan]="[contextRows]">
      <app-context class="container"></app-context>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="[mapCols]" [rowspan]="[mapRows]">
      <app-location class="container"></app-location>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- LAYOUT_DESKTOP_MAP_CONTENT -->

  <!-- LAYOUT_MOBILE_VERTICAL_ADDRESS_MAP_CONTENT -->
  <mat-grid-list *ngIf="layoutType === LAYOUT_MOBILE_VERTICAL_ADDRESS_MAP_CONTENT" [cols]="[screenCols]"
    rowHeight="10px" gutterSize="0px">
    <mat-grid-tile class="blue-black" [colspan]="[addressCols]" [rowspan]="[addressRows]">
      <app-address class="container"></app-address>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="[mapCols]" [rowspan]="[mapRows]">
      <app-location class="container"></app-location>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="[contextCols]" [rowspan]="[contextRows]">
      <app-context class="container"></app-context>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- LAYOUT_MOBILE_VERTICAL_ADDRESS_MAP_CONTENT -->


  <!-- LAYOUT_MOBILE_VERTICAL_MAP_CONTENT -->
  <mat-grid-list *ngIf="layoutType === LAYOUT_MOBILE_VERTICAL_MAP_CONTENT" [cols]="[screenCols]" rowHeight="10px"
    gutterSize="0px">
    <mat-grid-tile [colspan]="[mapCols]" [rowspan]="[mapRows]">
      <app-location class="container"></app-location>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="[contextCols]" [rowspan]="[contextRows]">
      <app-context class="container"></app-context>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- LAYOUT_MOBILE_VERTICAL_MAP_CONTENT -->

  <!-- LAYOUT_ADDRESS_MAP_CONTENT -->
  <mat-grid-list *ngIf="layoutType === LAYOUT_ADDRESS_MAP_CONTENT" [cols]="[screenCols]" rowHeight="10px"
    gutterSize="0px">
    <mat-grid-tile [colspan]="[addressCols]" [rowspan]="[addressRows]">
      <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%; height: 100%;">
        <app-address fxFlex="70" class="container"></app-address>
        <app-context fxFlex="30" class="container"></app-context>
      </div>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="[mapCols]" [rowspan]="[mapRows]">
      <app-location class="container"></app-location>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- LAYOUT_ADDRESS_MAP_CONTENT -->
</div>
