<div style="padding: 0px; margin: 0px">
  <agm-map [ngStyle]="{ 'height.px': heightMapContent }" (mapReady)="mapReady($event)" [clickableIcons]="false"
    [disableDefaultUI]="true" [streetViewControl]="false" [latitude]="lat" [longitude]="lng" [zoom]="zoom"
    (centerChange)="onCenterChange($event)">
  </agm-map>
  <img *ngIf="showCenterMarker" src="../../assets/icons/location/origin-place-30.png" class="vertical-center"
    alt="image" />
  <button mat-mini-fab [color]="'location-button-color'" (click)="currentLocation()" class="location-button">
    <mat-icon #icontest>gps_fixed</mat-icon>
  </button>
  <div *ngIf="disableMap" [ngStyle]="{ 'width.px': widthMapContent, 'height.px': heightMapContent }"
    style=" position: absolute; top: 0">
    <app-requested-progress (click)="openCancelSheet()"></app-requested-progress>
  </div>

  <!-- DESTINATION ADDRESS INPUT FOR PSEUDO-XS-LAYOUT -->
  <div id="test-form-on-map" [ngStyle]="{ 'width.px': widthMapContent }"
    [ngClass]="{'hide-item': !showDestinationPlaceInput}">
    <div class="form-steps" fxLayoutAlign="center center">
      <input id="addressInput" placeholder="¿A dónde vás?" autocorrect="off" autocapitalize="off"
        [formControl]="destinationPlaceAddresInput" spellcheck="off" type="text" class="address-input"
        onfocus="this.value=''" #destinationPlaceSearch />
    </div>
  </div>
  <!-- DESTINATION ADDRESS INPUT FOR PSEUDO-XS-LAYOUT -->

  <div id="estimated-cost-result" *ngIf="estimatedTripCost" [ngStyle]="{ 'width.px': widthMapContent - 50}">
    <div class="results" fxLayout="column" fxLayoutAlign="center center">
      <span>Distacia: {{ estimatedTripCost.distance + ' Km' }} </span>
      <span>Valor del Servicio: {{ estimatedTripCost.cost }} </span>
    </div>

  </div>
</div>

