.vertical-center {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  -ms-transform: translateY(-48%);
  transform: translateY(-48%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.location-button {
  margin: 0;
  position: absolute;
  top: 2%;
  left: 98%;
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  -ms-transform: translateX(-98%);
  transform: translateX(-98%);
}

.chat-button {
  margin: 0;
  position: absolute;
  top: 2%;
  left: 85%;
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  -ms-transform: translateX(-98%);
  transform: translateX(-98%);
}

.message-animation{
  animation: rebotar infinite 2s alternate;
}

@keyframes rebotar {
  0% {
    background-color: white;
    transform: translateX(-98%) translateY(0px);
  }

  10%{
    transform: translateX(-98%) translateY(-10px);
  }

  15%{
    background-color: #fab23a;
    transform: translateX(-98%) translateY(0px);
  }

  20%{
    transform: translateX(-98%) translateY(-5px);
  }

  25%{
    transform: translateX(-98%) translateY(0px);
  }

  100% {
    background-color: white;
    transform: translateX(-98%) translateY(0px);
  }
}

.mat-location-button-color {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.select-item .mat-list-item-content .mat-pseudo-checkbox {
  display: none;
}

#test-form-on-map {
  margin-top: 100px;
  position: absolute;
  top: 0;

  .form-steps {
    margin-left: 15px;
    margin-right: 15px;

    border-radius: 40px;
    background: white;
    border-style: solid;
    border-color: #FAB23A;
    height: 40px;

    input {
      border: 1px;

      outline: 0;
      width: 100%;
      font-size: 20px;
      // line-height: 35px;
      // height: 70px;
      text-align: center;
      padding: 5px;
      background: transparent;
      color: black;
      font-weight: 500;

      // :focus{
      //   outline: 0;
      //   color: #BBDEFB;
      // }
    }

    input::placeholder {
      font-size: 20px;
      color: #FAB23A;
    }
  }
}

#estimated-cost-result {
  bottom: 30px;
  background: transparent;
  position: absolute;

  .results {
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px;

    min-height: 80px;
    height: 80px;
    max-height: 80px;

    margin-left: 10px;
    margin-right: 10px;

    border-radius: 10px;
    border: 2px solid;

    font-size: 20px;

    color: #245e7a;
    background-color: #d9edf7;
    border-color: #3a3a3a;
  }
}

.hide-item {
  display: none;
}

::ng-deep #origin-marker-info-window {
  // background: #3a8a9e !important

  .use-pointer-btn {
    border-radius: 6px;
    background-color: #ededed;
    border: 1px solid #d6bcd6;
    // display:inline-block;
    cursor: pointer;
    padding: 5px 5px;
  }
  .use-pointer-btn:hover {
    background-color: #bab1ba;
  }
  .use-pointer-btn:active {
    position: relative;
    top: 1px;
  }
}

::ng-deep #destination-marker-info-window {
  // background: #3a8a9e !important

  .use-pointer-btn {
    border-radius: 6px;
    background-color: #ededed;
    border: 1px solid #d6bcd6;
    // display:inline-block;
    cursor: pointer;
    padding: 5px 5px;
  }
  .use-pointer-btn:hover {
    background-color: #bab1ba;
  }
  .use-pointer-btn:active {
    position: relative;
    top: 1px;
  }
}

.myButton {
  color: #3a8a9e;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}
