.vertical-center {
  margin: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  -ms-transform: translateY(-48%);
  transform: translateY(-48%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.location-button {
  margin: 0;
  position: absolute;
  top: 2%;
  left: 98%;
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  -ms-transform: translateX(-98%);
  transform: translateX(-98%);
}

.mat-location-button-color {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.select-item .mat-list-item-content .mat-pseudo-checkbox {
  display: none;
}

#test-form-on-map {
  margin-top: 150px;
  position: absolute;
  top: 0;

  .form-steps {
    margin-left: 15px;
    margin-right: 15px;

    border-radius: 40px;
    background: white;
    border-style: solid;
    border-color: rgb(196, 70, 70);
    height: 40px;

    input {
      border: 1px;
      
      outline: 0;
      width: 100%;
      font-size: 20px;
      // line-height: 35px;
      // height: 70px;
      text-align: center;
      padding: 5px;
      background: transparent;
      color: black;
      font-weight: 500;

      // :focus{
      //   outline: 0;
      //   color: #BBDEFB;
      // }
    }

    input::placeholder {
      font-size: 20px;
      color: rgb(196, 70, 70);
     }
  }
}
