<!-- PHONES LAYOUT  xs media query -->
<!-- DESKTOP LAYOUT gt-xs media query -->
<div ngClass.xs="xs-content" ngClass.gt-xs="gt-xs-content" fxFlex="100" fxLayout="row wrap">

  <div ngClass.xs="xs-mff" ngClass.gt-xs="gt-xs-mff" style="padding-bottom: 10px" fxFlex="100"
    fxLayoutAlign="start center">
    <!-- [routerLink]="['/profile']" -->
    <button (click)="backClicked()" mat-icon-button fxHide.gt-xs style="margin-right: 5px"
      fxlayoutAlign="center center">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div fxFlex>
      <div style="font-size: 25px;" fxLayoutAlign="start center">TX-CHAT</div>
    </div>
  </div>

  <div fxFlex="90" style="margin-bottom: 50px;" fxLayout="column">
    <div *ngFor="let message of messageList">
      <div *ngIf="message.from === 'me'" fxLayout="row">
        <img class="circle" src="../../../../assets/icons/context/default_pic.png" width="50px" height="50px" />
        <div fxFlex="75" class="send-chat-bubble">
          <span style="font-weight: bold; color: white; display: block;">Yo:</span>
          <span style="color: white">{{message.message}}</span>
        </div>
      </div>
      <div *ngIf="message.from !== 'me'" fxLayout="row">

        <div fxFlex="75" class="received-chat-bubble">
          <span style="font-weight: bold; color: #444; display: block;">Yo:</span>
          <span style="color: #444">{{message.message}}</span>
        </div>
        <img class="circle" src="../../../../assets/icons/context/default_pic.png" width="50px" height="50px" />
      </div>
    </div>
    <div class="bottom-content">
      <input type="text" [(ngModel)]="textMessage" placeholder="Escribe un mensaje aqui" id="ip2" />
      <button mat-icon-button>
        <img class="circle" src="../../../../assets/icons/context/send_button.png" (click)="sendMessage()" width="23px" height="20px" />
      </button>
    </div>
  </div>

</div>
