<div
  *ngIf="currentService"
  fxLayout="column"
  class="scroll-content"
  fxLayoutAlign="start start"
>
  <div
    fxLayout="row"
    style="margin-left: 7px; margin-top: 7px"
    fxLayoutAlign="start start"
    class="flex-wrap"
  >
    <mat-form-field
      *ngIf="currentService.pickUp && currentService.pickUp.addressLine1"
      fxFlex="100"
    >
      <input
        matInput
        placeholder="Dirección"
        readonly="true"
        [(ngModel)]="currentService.pickUp.addressLine1"
      />
    </mat-form-field>

    <mat-form-field
      *ngIf="currentService.pickUp && !currentService.pickUp.addressLine1"
      fxFlex="100"
    >
      <input
        matInput
        placeholder="Referencia"
        readonly="true"
        [(ngModel)]="currentService.pickUp.addressLine2"
      />
    </mat-form-field>
    <mat-form-field
      fxFlex="100"
      *ngIf="currentService.vehicle && currentService.vehicle.plate"
    >
      <input
        matInput
        placeholder="Vehículo"
        readonly="true"
        [(ngModel)]="currentService.vehicle.plate"
      />
    </mat-form-field>

    <mat-form-field
      fxFlex="100"
      *ngIf="currentService.driver && currentService.driver.fullname"
    >
      <input
        matInput
        placeholder="Conductor"
        readonly="true"
        [(ngModel)]="currentService.driver.fullname"
      />
    </mat-form-field>

    <mat-form-field *ngIf="tipValue" fxFlex="100">
      <input
        matInput
        placeholder="Propina"
        readonly="true"
        [(ngModel)]="tipValue"
        currencyMask
        [options]="{ prefix: '$ ', thousands: '.', precision: '0', align: 'left' }"
      />
    </mat-form-field>

    <button fxFlex="100" (click)="openCancelSheet()" mat-raised-button color="warn">
      Cancelar servicio
      <img
        class="circle"
        src="../../../../assets/icons/context/btn_cancel_trip_icon.png"
        width="23px"
        height="20px"
      />
    </button>
  </div>

</div>
