<!-- PHONES LAYOUT  xs media query -->
<!-- DESKTOP LAYOUT gt-xs media query -->
<div ngClass.xs="xs-content" ngClass.gt-xs="gt-xs-content" fxFlex="100" fxLayout="row wrap">

  <div ngClass.xs="xs-mff" ngClass.gt-xs="gt-xs-mff" style="padding-bottom: 10px" fxFlex="100"
    fxLayoutAlign="start center">
    <!-- [routerLink]="['/profile']" -->
    <button (click)="backClicked()" mat-icon-button fxHide.gt-xs style="margin-right: 5px" fxlayoutAlign="center center">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div fxFlex>
      <div style="font-size: 25px;" fxLayoutAlign="start center">Favoritos</div>
    </div>
  </div>

  <!-- <div *ngIf=" userProfile && mainFavorites" fxFlex="100" fxLayout="column">
    <div *ngFor="let favorite of mainFavorites" ngClass.xs="xs-fav-item">

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon style="padding-right: 10px;">{{ favorite.type }}</mat-icon>
        <div fxLayout="column">
          <div style="font-size: 18px">{{ favorite.name }}</div>
          <div style="font-size: 14px"> {{ favorite.address }} </div>
          <div *ngIf="!favorite.name && !favorite.address" [routerLink]="['/profile/favorite', favorite.type]">
            Agregar {{ FAVORITE_TYPES[favorite.type] }}
          </div>
        </div>

        <div fxFlex></div>
        <button *ngIf="favorite.name && favorite.address" mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{favoriteId: favorite.id, type: favorite.type}">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>

    </div>

  </div> -->


  <!-- <mat-divider fxFlex="100"></mat-divider> -->

  <!-- <div ngStyle.xs="padding: 20px" fxFlex="100" fxLayoutAlign="center center">
    <div style="font-size: 18px" >Otros Favoritos</div>
    <div fxFlex></div>
    <div>
      <button mat-mini-fab color="warn" [routerLink]="['/profile/favorite', 'new']">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div> -->


  <div fxFlex="100" fxLayout="column">
    <div *ngFor="let favorite of othersFavorites" ngClass.xs="xs-fav-item">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon style="padding-right: 10px;">location_on</mat-icon>
        <div class="favorite-text" [routerLink]="['/profile/favorite', favorite.id]"  fxLayout="column">
          <div style="font-size: 18px">{{ favorite.name }}</div>
          <div style="font-size: 14px"> {{ favorite.address }} </div>
        </div>

        <div fxFlex></div>
        <button mat-icon-button [matMenuTriggerFor]="menu"
          [matMenuTriggerData]="{favoriteId: favorite.id, type: favorite.type}">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-favoriteId="favoriteId" let-type="type">
      <button mat-menu-item [routerLink]="['/profile/favorite', favoriteId]">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="deleteFavoritePlace(favoriteId, type)">
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </ng-template>
  </mat-menu>

</div>
