<div fxLayout="column" fxLayoutAlign="center start" style="width: 100%; ">
  <img class="circle" src="../../../../assets/icons/icon-192x192.png" width="60px" height="60px"
    style="position: relative; left: 35%; margin-top: -5px;" />
  <div mat-dialog-content>
    <p style="font-size: 18px; font-weight: bold">¿Tienes alguna pregunta o sugerencia? Por favor contactate con
      nosotros</p>
  </div>

  <div mat-dialog-content>
    <p class="fz-15">Teléfono fijo: <a style="font-size: 15px; color: white"
        href="tel:0323369844'">3369844</a></p>
    <p class="fz-15">Whatsapp: <a style="font-size: 15px; color: white" href="tel:3108942249'">3108942249</a>
    </p>
    <p class="fz-15">Dirección: Calle 11A # 43-116 barrio departamental</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" class="ok-btn"
    (click)="close()">Ok</button>
</div>
