<div *ngIf="showAddress" [ngClass]="{'input-address-xs': showTwoInputs, 'form-group': !showTwoInputs}">
  <input [ngClass]="{'input-address': showTwoInputs, 'address-input': !showTwoInputs }"
    placeholder="Origen" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
    onfocus="this.value=''" #originPlaceSearch [formControl]="originPlaceAddresInput" (change)="onBlurAddress()" />
</div>

<div class="input-address-xs" *ngIf="showAddress && showTwoInputs">
  <input placeholder="Destino" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
    onfocus="this.value=''" #destinationPlaceSearch [formControl]="destinationPlaceAddresInput" (change)="onBlurAddress()" />
</div>

<!-- <div *ngIf="showAddress && !showTwoInputs" class="form-group">
  <input placeholder="Origen" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="address-input"
    onfocus="this.value=''" #originPlaceSearch [formControl]="originPlaceAddresInput" (change)="onBlurAddress()" />
</div> -->

<div *ngIf="showWithoutService" fxLayout="row" fxLayoutAlign="center center" class="tittle-content">
  <label class="tittle-header">Solicitando servicio</label>
  <img class="circle" src="../../../../assets/icons/context/tx_white_car.png" width="23px" height="20px"
    style="margin-top: -5px; margin-left: 5px" />
</div>

<div *ngIf="showOfferHeader" fxLayout="row" fxLayoutAlign="center center" class="tittle-content">
  <label class="tittle-header">Ofertando servicio</label>
  <img class="circle" src="../../../../assets/icons/context/tx_white_car.png" width="23px" height="20px"
    style="margin-top: -5px; margin-left: 5px" />
</div>

<div *ngIf="showAssignedHeader" fxLayout="row" fxLayoutAlign="start center" class="tittle-content">
  <label style="margin-left: 20px" class="tittle-header">Viaje en curso</label>
</div>

<div *ngIf="showArrivedHeader" fxLayout="row" fxLayoutAlign="center center" class="tittle-content">
  <label class="tittle-header">Su taxi ha llegado</label>
  <img class="circle" src="../../../../assets/icons/context/tx_white_car.png" width="23px" height="20px"
    style="margin-top: -5px; margin-left: 5px" />
</div>

<div *ngIf="showOnBoardHeader" fxLayout="row" fxLayoutAlign="center center" class="tittle-content">
  <label class="tittle-header">Estás a bordo</label>
  <img class="circle" src="../../../../assets/icons/context/tx_white_car.png" width="23px" height="20px"
    style="margin-top: -5px; margin-left: 5px" />
</div>
