/* [START] xs media query styles */
.xs-content{
    padding-top: 20px;
}
/* [END]   xs media query styles */

/* [START] gt-xs media query styles */
.gt-xs-content {
    padding: 50px;
  }
/* [END]   gtxsxs media query styles */
.toolbar{
    background: rgb(51, 51, 146);
}

.service-table{
    background: whitesmoke;
}