/* [START] xs media query styles */
.xs-content {
  padding: 5px;
}
.xs-service-item{
  margin-top: 3px;
  margin-bottom: 3px;
}
.xs-toolbar{
  height: 60px;
  .toolbar-buttons{
    height: 100%;
    color: white;
  }
}
/* [END]   xs media query styles */

/* [START] gt-xs media query styles */
.gt-xs-content {
  padding: 10px;
}

/* [END]   gtxsxs media query styles */
.toolbar {
  background-color: #3c4252 !important;
  .toolbar-icon{
    color: white;
  }
}

.border{
  /* margin-top: 5px;
  padding-top: 10px; */
  border-style: solid;
  border-radius: 10px;
}

.service-table {
  background: whitesmoke;
}

.td-container {
  position: relative;
}
.td-content {
  position: absolute;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.mat-request-service-dialog {
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(68, 68, 68, 0.933) !important;
  color: white;
}

.pr-0{
  padding-right: 0px !important;
}


.bg-red{
  background: #FFCECE;
}
.bg-yellow{
  background: #FFFBCC;
}
.bg-green{
  background: #D5FFCE;
}
.bg-white{
  background: #FFFFFF;
}
.font-black{
  color: #000000;
}
.font-yellow{
  color: #FFCE14;
}
.font-red{
  color: #BF0025;
}
.font-white{
  color: #FFFFFF;
}
.font-bold{
  font-weight: bold;
}


// .mat-row-selected {
//   background: rgb(209, 209, 209);
// }
