<!-- PHONES LAYOUT  xs media query -->
<!-- DESKTOP LAYOUT gt-xs media query -->
<div ngClass.xs="xs-content" ngClass.gt-xs="gt-xs-content" fxFlex="100" fxLayout="column">

    <!-- TOOLBAR -->
    <div class="toolbar" ngClass.xs="xs-toolbar" ngClass.gt-xs="gt-xs-toolbar" fxLayout="column">

    </div>
    <!-- TOOLBAR -->

    <!-- DATA TABLE -->
    <div class="service-table" ngClass.xs="xs-service-table" ngClass.gt-xs="gt-xs-service-table" fxLayout="column">
        <div *ngFor="let service of servicesAtQueued" ngClass.xs="xs-service-item" ngClass.gt-xs="gt-xs-service-item">
            
        </div>        
    </div>
    <!-- DATA TABLE -->
</div>
