<app-request-button *ngIf="serviceState === 'NO_SERVICE' ||
 serviceState === 'CANCELLED_CLIENT' ||
 serviceState === 'CANCELLED_DRIVER' ||
 serviceState === 'CANCELLED_OPERATOR' ||
 serviceState === 'CANCELLED_SYSTEM' ||
 serviceState === 'DONE'"></app-request-button>

<app-request-confirmation *ngIf="serviceState === 'REQUEST'"></app-request-confirmation>
<app-requested *ngIf="serviceState === 'REQUESTED'"></app-requested>
<app-assigned *ngIf="serviceState === 'ASSIGNED' || serviceState === 'ARRIVED' || serviceState === 'ON_BOARD'"></app-assigned>
