<div
  *ngIf="currentService"
  fxLayout="column"
  class="scroll-content"
  fxLayoutAlign="start start"
>
  <div
    fxLayout="row"
    style="margin-left: 7px"
    fxLayoutAlign="start start"
    class="flex-wrap"
  >
    <mat-form-field
      *ngIf="currentService.pickUp && currentService.pickUp.addressLine1"
      fxFlex="100"
    >
      <input
        matInput
        placeholder="Dirección"
        disabled="true"
        [(ngModel)]="currentService.pickUp.addressLine1"
      />
    </mat-form-field>
    <mat-form-field
      fxFlex="100"
      *ngIf="currentService.pickUp && currentService.pickUp.addressLine2"
    >
      <input
        matInput
        placeholder="Referencia"
        disabled="true"
        [(ngModel)]="currentService.pickUp.addressLine2"
      />
    </mat-form-field>

    <mat-form-field *ngIf="tipValue" fxFlex="100">
      <input
        matInput
        placeholder="Propina"
        disabled="true"
        [(ngModel)]="tipValue"
        currencyMask
        [options]="{ prefix: '$ ', thousands: '.', precision: '0' }"
      />
    </mat-form-field>
  </div>
</div>
