.mat-confirm-button-color {
  background-color: rgb(58, 58, 58);
  color: rgb(255, 255, 255);
}

.mat-filter-button-color {
  background-color: rgb(58, 58, 58);
  color: rgb(255, 255, 255);
}

.main-container {
  padding: 10px;
  margin: 5px;
}

.filter-txt {
  margin-top: 9px;
  margin-left: 5px;
  color: white;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.scroll-content {
  display: inline-block;
  position: relative;
  overflow-x: hidden;
  height: 320px;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid #e8f8ff;
}

.input-service {
  margin-right: 20px;
}

.tittle-content {
  background-color: #444;
  width: 100%;
  height: 40px;
}

.tittle-header {
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.icon_white {
  color: #ffffff;
}

.icon_red {
  color: #D1312C;
}

.my-4{
  margin-top: 4;
  margin-bottom: 4;
}

::ng-deep .pac-icon-marker-fav{
  padding: 0px !important;
  margin: 3px !important;
  margin-top: 7px !important;
  margin-right: 6px !important;
  background: url(../../../../assets/icons/fav.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 16px 16px !important;
  background-position: center !important;
}


::ng-deep .pac-item-query {
  font-size: 15px;
  padding-right: 3px;
  color: #000;
}
