<!-- PHONES LAYOUT  xs media query -->
<!-- DESKTOP LAYOUT gt-xs media query -->
<div ngClass.xs="xs-content" ngClass.gt-xs="gt-xs-content" fxFlex="100" fxLayout="row wrap">

  <div ngClass.xs="xs-mff" ngClass.gt-xs="gt-xs-mff" style="padding-bottom: 10px" fxFlex="100"
    fxLayoutAlign="start center">
    <!-- [routerLink]="['/profile']" -->
    <button (click)="backClicked()" mat-icon-button fxHide.gt-xs style="margin-right: 5px"
      fxlayoutAlign="center center">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div fxFlex>
      <div style="font-size: 25px;" fxLayoutAlign="start center">TX-CHAT</div>
    </div>
  </div>

</div>
