<!-- PHONES LAYOUT  xs media query -->
<!-- DESKTOP LAYOUT gt-xs media query -->
<div ngClass.xs="xs-content" ngClass.gt-xs="gt-xs-content" fxFlex="100" fxLayout="row wrap">

  <div ngClass.xs="xs-mff" ngClass.gt-xs="gt-xs-mff" style="padding-bottom: 10px" fxFlex="100"
    fxLayoutAlign="start center">
    <!-- [routerLink]="['/profile']" -->
    <button (click)="backClicked()" mat-icon-button fxHide.gt-xs style="margin-right: 5px"
      fxlayoutAlign="center center">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div fxFlex>
      <div style="font-size: 25px;" fxLayoutAlign="start center">TX-MOBILE</div>

      <img class="circle" src="../../../../assets/icons/icon-192x192.png" width="60px" height="60px"
        style="position: relative; left: 35%; margin-top: -5px;" />

      <p style="font-size: 18px; font-weight: bold">Si el aplicativo no inicia en cinco segundos por favor presionar el
        boton "Iniciar"</p>

      <button (click)="redirectAppMobile()" mat-raised-button color="warn" class="ok-btn">Iniciar</button>
      <a id="redirectC" href="{{hrefMobileToken}}" style="color: white;">
        <h4 style="margin-left: 10px; position: absolute; bottom: 0px">Version: 1.1.109</h4>
      </a>
    </div>
  </div>

</div>