.mat-button-toggle-checked {
  // background-color: #3F51B5;
  // background-color: #3C4252;
  background-color: #d1312c;

  color: white;
}

.icon_white {
  color: #ffffff;
}

.text-bold {
  font-weight: bold;
}

.tip-with-border {
  border: 2px solid grey;
  border-radius: 5px;
  height: 35px;
  text-align: left !important;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #d1312c;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #d1312c !important;
}


::ng-deep .mat-accent .mat-slider-thumb {
  // background-color: #3C4252;
  background-color: #d1312c;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  // background-color: #3C4252;
  background-color: #d1312c;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  // background-color: #3C4252;
  background-color: #d1312c;
}
